.ac-btn{
	position: relative;
	border-radius: 70px;
	border: none;
	font-family: 'Maison-b';
	font-weight: 100;
	color: #fff;
	cursor: pointer;

	@media screen and (max-width: 1399px) {
		font-size: 14px;
	}

	&:before{
		z-index: -1;
		content: '';
		position: absolute;
		display: block;
		margin: auto;
		left: 0; right: 0;
		border-radius: 70px;
		background-color: #863dee;
		@include transitions-ease(.8s);
	}

	&:focus{
		outline: none;
	}

	&:hover{
		&:before{
			@include drawShadow(0,0,0,0,#863dee);
			@include scale(.5,.5);
		}
	}
}

.cta-btn{
	font-size: 18px;
	padding: 21px 52px 18px;
	background: #10123f;

	@media screen and (max-width: 1399px) {
		padding: 16px 40px 12px;
	}

	&:before{
		width: 88%;
		height: 80%;
		bottom: 0;
		@include drawShadow(0,0,24px,4px,#863dee);
	}
}

.submit-btn{
	font-size: 16px;
	padding: 16px 52px;
	background: #030524;

	.ac-btn-label{@include transitions-ease(.4s);}

	&:hover{
		.ac-btn-label{@include translate(3px, 0);}
	}

	&:before{
		width: 78%;
		height: 70%;
		bottom: 4%;
		@include drawShadow(0,0,30px,2px,#863dee);
	}

	&.off{
		background: #10123f;
		pointer-events: none;
		.ac-btn-label{
			@include translate(-5px, 0);
			opacity: .2;
		}

		&:before{
			@include drawShadow(0,0,0,0,#863dee);
			@include scale(0,0);
		}
	}
}