.ac-btn{
	position: relative;
	padding-top: 21px;
	padding-bottom: 18px;
	border-radius: 70px;
	border: none;
	font-family: 'Maison-b';
	font-size: 18px;
	font-weight: 100;
	color: #fff;
	background: #10123f;
	cursor: pointer;

	&:before{
		z-index: -1;
		content: '';
		position: absolute;
		display: block;
		width: 88%;
		height: 80%;
		margin: auto;
		left: 0; right: 0;
		bottom: 0;
		border-radius: 70px;
		background-color: #863dee;
		@include drawShadow(0,0,24px,4px,#863dee);
		@include transitions-ease(.8s);
	}

	&:focus{
		outline: none;
	}

	&:hover{
		&:before{
			@include drawShadow(0,0,0,0,#863dee);
			@include scale(.5,.5);
		}
	}
}

.cta-btn{
	padding-left: 52px;
	padding-right: 52px;
}

.next-btn{
	width: 60px;
	height: 60px;
}