// Default style
body{
	margin: 0;
	padding: 0;
}

#main-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 740px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	@include trans-register(.4s);

	@media screen and (max-width: 1399px) {
		min-height: 600px;
	}

	&.showForm{
		// min-height: 650px;
		min-height: 890px;

		@media screen and (max-width: 1399px) {
			min-height: 800px;
		}

		@media screen and (max-width: 1024px) {
			min-height: 768px;
		}
	}
}