.input-container{
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-family: 'Calibre';
	font-size: 22px;
	font-weight: lighter;
	line-height: 1em;
	@include smoothFont;

	&:before, .border-fx{
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		left: 0;
		bottom: 0;
		background-color: #868da4;
	}
	.border-fx{
		@include scale(0,1);
		@include transformFrom(left, top);
		background-color: #fff;
		@include transitions-ease(.4s);
	}

	.ac-input{
		width: 100%;
		padding: 5px 45px 10px 0;
		color: #fff;
		border: none;
		background-color: transparent;

		&:focus, &.filled{
			outline: none;
			border: none;

			& + label{
				@include translate(0, -28px);
				font-size: 14px;
				color: #fff;
			}

			& ~ .border-fx{
				@include scale(1,1);
			}
		}
	}

	label{
		position: absolute;
		top: 7px;
		left: 0;
		color: #868da4;
		@include transitions-ease(.5s);
	}

	.units{
		position: absolute;
		top: 7px;
		right: 0;
		font-size: 14px;
		color: #868da4;
		pointer-events: none;
	}
}

.ac-checkbox{
	position: relative;
	padding-left: 40px;
	font-family: 'Calibre';
	font-size: 18px;
	font-weight: lighter;
	@include smoothFont;
	color: #868da4;
	cursor: pointer;

	@media screen and (max-width: 1399px) {
		font-size: 14px;
		padding-top: 4px;
	}
	@media screen and (max-width: 767px) {
		padding-top: 8px;
		line-height: 1em;
	}

	input{
		position: absolute;
		width: 0;
		height: 0;
		top: 0; left: 0;
		opacity: 0;

		&:checked {
			& ~ .checkmark{
				&:before{
					top: 0;
					@include scale(1,1);
					opacity: 1;
				}
			}

			& ~ .label{
				color: #fed546;
			}
		}
	}

	.checkmark{
		position: absolute;
		top: 0;
		left: 0;
		width: 18px;
		height: 18px;
		border: 1px solid #868da4;

		@media screen and (max-width: 1399px) {
			width: 16px;
			height: 16px;
		}

		@media screen and (max-width: 767px) {
			width: 26px;
			height: 26px;
		}

		&:before{
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			margin: auto;
			top: 3px; bottom: 0;
			left: 0; right: 0;
			background-color: #fed546;
			@include scale(0,0);
			opacity: 0;
			@include transitions-ease(.4s);

			@media screen and (max-width: 1399px) {
				width: 4px;
				height: 4px;
			}

			@media screen and (max-width: 767px) {
				width: 8px;
				height: 8px;
			}
		}
	}

	.label{
		@include transitions-linear(.2s);

		a{
			color: inherit;
			text-decoration: underline;
			@include transitions-linear(.1s);

			&:hover{
				color: #fff;
			}
		}
	}
}

#success-message{
	font-family: 'Calibre';
	font-weight: lighter;
	line-height: 1.2em;
	color: #868da4;
}