.input-container{
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-family: 'Calibre';
	font-size: 22px;
	font-weight: lighter;
	line-height: 1em;
	@include smoothFont;

	@media screen and (min-width: 768px) and (max-width: 1599px) {
		font-size: 18px;
	}

	&:before, .border-fx{
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 1px;
		left: 0;
		bottom: 0;
		background-color: #868da4;
	}
	.border-fx{
		@include scale(0,1);
		@include transformFrom(left, top);
		background-color: #fff;
		@include transitions-ease(.4s);
	}

	.ac-input{
		width: 100%;
		padding: 5px 5px 10px 0;
		color: #fff;
		border: none;
		background-color: transparent;
		&.unit-spec{padding-right: 50px;}

		@media screen and (min-width: 1600px){
			padding-bottom: 14px;
		}

		&:focus, &.filled{
			outline: none;
			border: none;

			& + label{
				@include translate(0, -28px);
				font-size: 14px;
				color: #fff;

				@media screen and (min-width: 768px) and (max-width: 1599px){
					@include translate(0, -20px);
				}
			}

			& ~ .border-fx{
				@include scale(1,1);
			}

			& ~ .units{
				color: #fff;
			}
		}
	}

	label{
		position: absolute;
		top: 7px;
		left: 0;
		color: #868da4;
		@include transitions-ease(.5s);
	}

	.units{
		position: absolute;
		top: 7px;
		right: 0;
		font-size: 14px;
		color: #868da4;
		pointer-events: none;
		@include transitions-ease(.5s);
	}
}

.ac-checkbox{
	position: relative;
	margin: 0;
	padding-left: 40px;
	padding-top: 8px;
	line-height: 1em;
	font-family: 'Calibre';
	font-size: 14px;
	font-weight: lighter;
	@include smoothFont;
	color: #868da4;
	cursor: pointer;

	@media screen and (min-width: 768px) {
		font-size: 16px;
	}
	@media screen and (min-width: 1600px) {
		font-size: 18px;
		padding-left: 45px;
	}

	input{
		position: absolute;
		width: 0;
		height: 0;
		top: 0; left: 0;
		opacity: 0;

		&:checked {
			& ~ .checkmark{
				&:before{
					top: 0;
					@include scale(1,1);
					opacity: 1;
				}
			}

			& ~ .label{
				color: #fed546;
			}
		}
	}

	.checkmark{
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;
		height: 24px;
		border: 1px solid #868da4;

		&:before{
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin: auto;
			top: 3px; bottom: 0;
			left: 0; right: 0;
			background-color: #fed546;
			@include scale(0,0);
			opacity: 0;
			@include transitions-ease(.4s);
		}
	}

	.label{
		@include transitions-linear(.2s);

		a{
			color: inherit;
			text-decoration: underline;
			@include transitions-linear(.1s);

			&:hover{
				color: #fff;
			}
		}
	}
}

#success-message{
	font-family: 'Calibre';
	font-weight: lighter;
	line-height: 1.2em;
	color: #868da4;
}