#hero-section{
	z-index: 10;
	position: relative;
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 60px;
	background-color: #f4f5f6;
	@include trans-register(.4s);
	&.loading{
		width: 100%;
		-webkit-animation: fadeIn 1.5s linear; /* Safari 4.0 - 8.0 */
    	animation: fadeIn 1.5s linear;
	}

	@media screen and (max-width: 1399px) {
		padding: 35px;

		.brand-logo{
			width: 170px;
		}
	}

	@media screen and (max-width: 1024px) {
		width: 46%;
	}

	@media screen and (max-width: 767px) {
		width: 100%;
		height: auto;
		padding: 30px 28px 55px;

		.brand-logo{
			width: 120px;
			height: 22px;
		}
	}

	.brand-c-container{
		position: absolute;
		width: 340px;
		height: 340px;
		top: 80px;
		right: 100px;
		@include transitions-ease-delayed(.8s, .8s);

		svg{@include transitions-ease(.8s);}

		&.loading{
			top: 50%;
			right: 50%;
			@include translate(50%, -50%);

			svg{
				@include scale(.15, .15);
			}
		}

		@media screen and (max-width: 1399px) {
			width: 240px;
			height: 240px;
			top: 70px;
			right: 60px;
		}

		@media screen and (max-width: 1024px) {
			width: 170px;
			height: 170px;
			top: 10%;
		}

		@media screen and (max-width: 767px) {
			width: 160px;
			height: 160px;
			top: 40px;
			right: 40px;
		}

		svg{
			position: relative;
			width: 100%;
		}
	}

	.texts-wrapper{
		position: relative;
		width: 251px;
		left: 10%;
		margin-top: 90px;
		@include trans-register(.4s);

		@media screen and (min-width: 768px) {
			position: absolute;
			width: auto;
			bottom: 120px;
		}
		@media screen and (min-width: 1025px) {
			left: 6vw;
			bottom: 80px;
		}
		@media screen and (min-width: 1400px) {
			left: 8.3vw;
		}
		@media screen and (min-width: 1600px) {
			bottom: 150px;
		}

		.hero-title{
			font-family: 'Platform';
			font-size: 80px;
			font-weight: 100;
			line-height: .85em;
			@include smoothFont;
			text-transform: uppercase;
			margin-bottom: 32px;

			@media screen and (max-width: 1399px) {
				font-size: 60px;
				margin-bottom: 24px;
			}

			@media screen and (max-width: 1024px) {
				font-size: 50px;
			}

			@media screen and (max-width: 767px) {
				font-size: 40px;
				margin-bottom: 16px;
			}
		}

		.hero-intro{
			font-family: 'Calibre';
			font-size: 32px;
			font-weight: lighter;
			letter-spacing: -.012em;
			line-height: 1em;
			@include smoothFont;
			color: #8d929f;
			margin-bottom: 35px;

			@media screen and (max-width: 1399px) {
				font-size: 24px;
				margin-bottom: 28px;
			}

			@media screen and (max-width: 767px) {
				font-size: 20px;
			}
		}

		.disclaimer{
			@media screen and (min-width: 768px) {
				display: block;
				top: 8px;
			}

			@media screen and (min-width: 1025px) {
				display: inline-block;
				margin-top: 0;
				margin-left: 55px;
			}
			@media screen and (min-width: 1400px) {
				font-size: 18px;
			}
		}
	}
}

// Showing form state
.showForm #hero-section{

	@media screen and (max-width: 1399px) {
		// height: 76%;
	}

	.texts-wrapper{
		// @include translate(0, 100px);

		// @media screen and (max-width: 1399px) {
		// 	@include translate(0, 30px);
		// }

		// @media screen and (max-width: 1024px) {
		// 	bottom: 80px;
		// }

		// @media screen and (max-width: 767px) {
		// 	bottom: auto;
		// 	@include translate(0, 0);
		// }
	}
}