#hero-section{
	z-index: 10;
	position: relative;
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 60px;
	background-color: #f4f5f6;
	@include trans-register(.4s);

	@media screen and (max-width: 1399px) {
		padding: 35px;

		.brand-logo{
			width: 170px;
		}
	}

	.brand-c-bg{
		position: absolute;
		top: 80px;
		right: 110px;

		@media screen and (max-width: 1399px) {
			width: 240px;
			top: 20px;
			right: 60px;
		}
	}

	.texts-wrapper{
		position: absolute;
		left: 8.3vw;
		bottom: 150px;
		@include trans-register(.4s);

		@media screen and (max-width: 1399px) {
			left: 6vw;
			bottom: 80px;
		}

		.hero-title{
			font-family: 'Platform';
			font-size: 80px;
			font-weight: 100;
			line-height: .8em;
			@include smoothFont;
			text-transform: uppercase;
			margin-bottom: 32px;

			@media screen and (max-width: 1399px) {
				font-size: 60px;
				margin-bottom: 24px;
			}
		}

		.hero-intro{
			font-family: 'Calibre';
			font-size: 32px;
			font-weight: lighter;
			letter-spacing: -.012em;
			line-height: 1em;
			@include smoothFont;
			color: #8d929f;
			margin-bottom: 35px;

			@media screen and (max-width: 1399px) {
				font-size: 24px;
				margin-bottom: 28px;
			}
		}

		.disclaimer{
			position: relative;
			display: inline-block;
			top: 8px;
			margin: 0;
			margin-left: 55px;
			font-family: 'Calibre';
			font-size: 18px;
			font-weight: lighter;
			line-height: 1em;
			@include smoothFont;
			color: #8d929f;

			@media screen and (max-width: 1399px) {
				font-size: 16px;
			}

			&:before{
				content: '/';
				position: absolute;
				top: 0;
				left: -18px;
			}
		}
	}
}

// Showing form state
.showForm #hero-section{
	height: 71%;
	// height: calc(100% - 225px);

	@media screen and (max-width: 1399px) {
		height: 77%;
	}

	.texts-wrapper{
		@include translate(0, 100px);

		@media screen and (max-width: 1399px) {
			@include translate(0, 30px);
		}
	}
}