#hero-section{
	z-index: 10;
	position: relative;
	display: inline-block;
	width: 50%;
	height: 100%;
	padding: 60px;
	background-color: #f4f5f6;
	@include trans-register(.4s);

	@media screen and (max-width: 1399px) {
		padding: 35px;

		.brand-logo{
			width: 170px;
		}
	}

	@media screen and (max-width: 1024px) {
		width: 46%;
	}

	@media screen and (max-width: 767px) {
		width: 100%;
		height: auto;
		padding: 30px 28px 55px;

		.brand-logo{
			width: 120px;
			height: 22px;
		}
	}

	.brand-c-bg{
		position: absolute;
		top: 80px;
		right: 110px;

		@media screen and (max-width: 1399px) {
			width: 240px;
			height: 240px;
			top: 70px;
			right: 60px;
		}

		@media screen and (max-width: 1024px) {
			width: 170px;
			height: 170px;
			top: 10%;
		}

		@media screen and (max-width: 767px) {
			width: 160px;
			height: 160px;
			top: 40px;
			right: 11%;
		}
	}

	.texts-wrapper{
		position: absolute;
		left: 8.3vw;
		bottom: 150px;
		@include trans-register(.4s);

		@media screen and (max-width: 1399px) {
			left: 6vw;
			bottom: 80px;
		}

		@media screen and (max-width: 1024px) {
			bottom: 120px;
		}

		@media screen and (max-width: 767px) {
			position: relative;
			width: 251px;
			left: 10%;
			bottom: auto;
			margin-top: 90px;
		}

		.hero-title{
			font-family: 'Platform';
			font-size: 80px;
			font-weight: 100;
			line-height: .8em;
			@include smoothFont;
			text-transform: uppercase;
			margin-bottom: 32px;

			@media screen and (max-width: 1399px) {
				font-size: 60px;
				margin-bottom: 24px;
			}

			@media screen and (max-width: 1024px) {
				font-size: 50px;
			}

			@media screen and (max-width: 767px) {
				font-size: 40px;
				margin-bottom: 16px;
			}
		}

		.hero-intro{
			font-family: 'Calibre';
			font-size: 32px;
			font-weight: lighter;
			letter-spacing: -.012em;
			line-height: 1em;
			@include smoothFont;
			color: #8d929f;
			margin-bottom: 35px;

			@media screen and (max-width: 1399px) {
				font-size: 24px;
				margin-bottom: 28px;
			}

			@media screen and (max-width: 767px) {
				font-size: 20px;
			}
		}

		
	}
}

// Showing form state
.showForm #hero-section{
	height: 71%;
	// height: calc(100% - 225px);

	@media screen and (max-width: 1399px) {
		height: 76%;
	}

	.texts-wrapper{
		@include translate(0, 100px);

		@media screen and (max-width: 1399px) {
			@include translate(0, 30px);
		}

		@media screen and (max-width: 1024px) {
			bottom: 80px;
		}

		@media screen and (max-width: 767px) {
			bottom: auto;
			@include translate(0, 0);
		}
	}
}