#register-section{
	z-index: 1;
	position: fixed;
	width: 100%;
	// height: 315px;
	height: 29%;
	min-height: 225px;
	bottom: 0;
	background-color: #10123f;

	.join-wrapper{
		position: relative;
		display: inline-block;
		width: 25%;
		height: 100%;
		padding: 60px 50px;
		vertical-align: top;
		background-color: #030524;

		h2{
			font-family: 'Maison-b';
			font-weight: lighter;
			font-size: 40px;
			letter-spacing: -.04em;
			line-height: 1em;
			@include smoothFont;
			color: #868da4;
		}
	}
	.form-wrapper{
		position: relative;
		display: inline-block;
		width: 75%;
		height: 100%;
		padding: 60px;
		vertical-align: top;

		.form-title{
			font-family: 'Calibre';
			font-size: 39px;
			line-height: 1em;
			@include smoothFont;
			color: #fff;
			margin-bottom: 12px;
		}

		#submit-application{
			top: -9px;
			margin-left: 25px;
		}

		.data-agreement{
			position: relative;
			margin-top: 25px;
		}
	}
}