#register-section{
	// z-index: 1000;
	z-index: 1;
	position: absolute;
	width: 100%;
	// height: 315px;
	height: 29%;
	// min-height: 225px;
	bottom: 0;
	background-color: #10123f;
	@include translate(0,100%);
	@include trans-register(.4s);

	@media screen and (max-width: 1399px) {
		max-height: 220px;
	}

	.join-wrapper{
		position: relative;
		display: inline-block;
		width: 25%;
		height: 100%;
		padding: 60px 50px;
		vertical-align: top;
		background-color: #030524;

		@media screen and (max-width: 1399px) {
			padding: 40px 30px;
		}

		h2{
			font-family: 'Maison-b';
			font-weight: lighter;
			font-size: 40px;
			letter-spacing: -.04em;
			line-height: 1em;
			@include smoothFont;
			color: #868da4;

			@media screen and (max-width: 1399px) {
				font-size: 26px;
			}
		}
	}
	.form-wrapper{
		position: relative;
		display: inline-block;
		width: 75%;
		height: 100%;
		padding: 60px;
		vertical-align: top;

		@media screen and (max-width: 1399px) {
			padding: 40px;
		}

		.form-title{
			font-family: 'Calibre';
			font-size: 39px;
			line-height: 1em;
			@include smoothFont;
			color: #fff;
			margin-bottom: 12px;

			@media screen and (max-width: 1399px) {
				font-size: 26px;
			}
		}

		.form-fields{
			margin-bottom: 30px;
		}

		.data-agreement{
			position: absolute;
			padding-top: 15px;
			margin-left: 190px;

			@media screen and (max-width: 1399px) {
				margin-top: 5px;
			}
		}

		#submit-application{
		}
	}
}

// Showing form state
.showForm #register-section{
	@include translate(0,0);

	@media screen and (max-width: 1399px) {
		height: 23%;	
	}
}