#register-section{
	// display: none;
	z-index: 1000;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	background-color: #10123f;
	@include translate(0,100%);
	@include trans-register(.9s);

	.disclaimer{
		display: none;
	}

	@media screen and (max-width: 767px) {
		position: relative;
		height: auto;
		@include translate(0,0);

		.disclaimer{
			display: inline-block;
			top: 5px;
			margin-top: 0;
			margin-left: 32px;
			color: #868da4;
		}
	}

	.join-wrapper{
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 36px 28px;
		vertical-align: top;
		background-color: #030524;

		@media screen and (min-width: 768px) {
			width: 25%;
			padding: 30px 25px;
		}

		@media screen and (min-width: 1025px) {
			padding: 40px 30px;
		}

		@media screen and (min-width: 1400px) {
			padding: 80px 60px;
		}

		.brand-c-container{
			position: relative;
			width: 41px;
			height: 41px;

			@media screen and (min-width: 768px) {
				width: 60px;
				height: 60px;
			}

			@media screen and (min-width: 1025px) {
				width: 80px;
				height: 80px;
			}
		}

		.tagline{
			position: absolute;
			height: 57px;
			bottom: 0; top: 0;
			right: 28px;
			margin-bottom: 0;
			margin: auto;
			text-align: right;

			@media screen and (min-width: 768px) {
				height: initial;
				top: auto;
				bottom: 30px;
				right: 25px;
			}
			@media screen and (min-width: 1025px) {
				bottom: 40px;
				right: 30px;
			}
			@media screen and (min-width: 1400px) {
				bottom: 80px;
				right: 60px;
			}
		}
	}
	.form-wrapper{
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 56px 28px 73px;
		vertical-align: top;
		
		@media screen and (min-width: 768px) {
			width: 75%;
			padding: 30px;
		}
		@media screen and (min-width: 1025px) {
			padding: 40px;
		}
		@media screen and (min-width: 1400px) {
			padding: 80px 60px;
		}

		.join-cta{
			margin-bottom: 56px;
			font-family: 'Maison-b';
			font-weight: lighter;
			font-size: 26px;
			letter-spacing: -.04em;
			line-height: 1em;
			@include smoothFont;
			color: #868da4;

			@media screen and (min-width: 768px) {
				font-size: 19px;
			}
			@media screen and (min-width: 1025px) {
				font-size: 26px;
			}
			@media screen and (min-width: 1400px) {
				font-size: 40px;
			}
		}

		.form-title{
			font-family: 'Calibre';
			font-size: 39px;
			line-height: 1em;
			@include smoothFont;
			color: #fff;
			margin-bottom: 12px;

			@media screen and (max-width: 1399px) {
				font-size: 26px;
			}

			@media screen and (max-width: 1024px) {
				font-size: 19px;
			}

			@media screen and (max-width: 767px) {
				font-size: 26px;
				margin-bottom: 28px;
			}
		}

		.form-fields{
			margin-bottom: 30px;

			@media screen and (max-width: 1399px) {
				margin-bottom: 20px;
			}

			.input-container{
				width: 24.22%;

				&:not(:last-child){
					margin-right: 25px;
				}

				@media screen and (max-width: 1399px) {
					width: 28%;
				}

				@media screen and (max-width: 767px) {
					width: 100%;
					&:not(:last-child){
						margin: 0;
						margin-bottom: 32px;
					}
				}
			}
		}

		.data-agreement{
			position: absolute;
			padding-top: 15px;
			margin-left: 190px;

			@media screen and (max-width: 1399px) {
				padding-top: 7px;
				margin-left: 150px;
			}

			@media screen and (max-width: 767px) {
				position: relative;
				width: 210px;
				margin-left: 0;
				margin-bottom: 28px;
			}
		}

		#submit-application{
		}
	}
}

// Showing form state
.showForm #register-section{
	@include translate(0,0);

	@media screen and (max-width: 1399px) {
		// height: 24%;
	}
}