#register-section{
	// display: none;
	z-index: 1000;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	background-color: #10123f;
	@include translate(0,100%);
	@include trans-register(.9s);

	.disclaimer{
		top: 8px;
		font-size: 14px;
		margin-left: 55px;
		color: #fff;

		@media screen and (min-width: 1600px) {}
		margin-left: 45px;
	}

	@media screen and (max-width: 767px) {
		position: relative;
		height: auto;
		@include translate(0,0);

		.disclaimer{
			display: inline-block;
			top: 5px;
			margin-top: 0;
			margin-left: 42px;
		}
	}

	.join-wrapper{
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 35px 28px;
		vertical-align: top;
		background-color: #030524;

		@media screen and (min-width: 768px) {
			width: 25%;
			padding: 50px 25px;
		}

		@media screen and (min-width: 1025px) {
			padding: 40px 30px;
		}

		@media screen and (min-width: 1441px) {
			padding: 80px 60px;
		}

		.brand-c-container{
			position: relative;
			width: 41px;
			height: 41px;

			@media screen and (min-width: 768px) {
				width: 60px;
				height: 60px;
			}

			@media screen and (min-width: 1025px) {
				width: 80px;
				height: 80px;
			}
		}

		.tagline{
			position: absolute;
			height: 57px;
			bottom: 0; top: 0;
			right: 28px;
			margin-bottom: 0;
			margin: auto;
			text-align: right;

			@media screen and (min-width: 768px) {
				height: initial;
				top: auto;
				bottom: 50px;
				right: 25px;
			}
			@media screen and (min-width: 1025px) {
				bottom: 40px;
				right: 30px;
			}
			@media screen and (min-width: 1441px) {
				bottom: 80px;
				right: 60px;
			}
		}
	}
	.form-wrapper{
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 56px 28px 60px;
		vertical-align: top;
		
		@media screen and (min-width: 768px) {
			width: 75%;
			padding: 50px 50px;
		}
		@media screen and (min-width: 1025px) {
			// padding: 40px;
		}
		@media screen and (min-width: 1600px) {
			padding: 70px 60px;
		}

		.join-cta{
			margin-bottom: 50px;
			font-family: 'Maison-b';
			font-weight: lighter;
			font-size: 25px;
			letter-spacing: -.04em;
			line-height: 1.2em;
			@include smoothFont;
			color: #868da4;

			@media screen and (min-width: 768px) {
				font-size: 28px;
				margin-bottom: 35px;
			}
			@media screen and (min-width: 1025px) {
				// font-size: 26px;
			}
			@media screen and (min-width: 1441px) {
				font-size: 40px;
				margin-bottom: 80px;
			}
		}

		.badge{
			position: absolute;
			top: 50px;
			right: 28px;
			width: 110px;
			height: 110px;

			@media screen and (min-width: 768px) {
				top: 40px;
				right: 50px;
			}

			@media screen and (min-width: 1441px) {
				width: 180px;
				height: 180px;
			}
			@media screen and (min-width: 1600px) {
				top: 70px;
				right: 80px;
			}
		}

		.form-title{
			font-family: 'Calibre';
			font-size: 26px;
			line-height: 1em;
			@include smoothFont;
			color: #fff;
			margin-bottom: 52px;

			@media screen and (min-width: 768px) and (max-width: 1024px) {
				font-size: 19px;
				margin-bottom: 25px;
			}
			@media screen and (min-width: 1025px) {
				// font-size: 26px;
				margin-bottom: 30px;
			}
			@media screen and (min-width: 1441px) {
				font-size: 39px;
			}
			@media screen and (min-width: 1600px) {
				margin-bottom: 70px;
			}
		}

		.form-fields{
			margin-bottom: 60px;
			@media screen and (min-width: 768px) {margin-bottom: 40px;}
			@media screen and (min-width: 1025px) and (max-width: 1599px) {
				margin-bottom: 0;
			}
			@media screen and (min-width: 1025px) {
				max-width: 1024px;
			}

			.input-container{
				width: 100%;
				&:not(:last-child){
					margin-bottom: 55px;
				}

				@media screen and (min-width: 768px) and (max-width: 1024px) {
					width: 45%;
					&:nth-child(odd){margin-right: 28px;}
					&:nth-child(even){margin-right: 0;}
					&:not(:last-child){
						margin-bottom: 35px;
					}
				}

				@media screen and (min-width: 1025px) {
					width: 31.2%;
					&:nth-child(3n+1){margin-right: 2%;}
					&:nth-child(3n+2){margin-left: 1%; margin-right: 1%;}
					&:nth-child(3n+0){margin-left: 2%;}
				}
			}
		}

		.data-agreement{
			position: relative;
			width: 100%;
			margin-bottom: 30px;

			@media screen and (min-width: 768px) {margin-bottom: 10px;}
			@media screen and (min-width: 1599px) {margin-bottom: 20px;}
		}

		#submit-application{
		}
	}
}

// Showing form state
.showForm #register-section{
	@media screen and (min-width: 768px) {
		@include translate(0,0);
		@include drawShadow(0, 0, 50px, 0, rgba(15, 0, 60, 0.7));
	}
}