#sponsor-section{
	z-index: 10;
	position: relative;
	display: inline-block;
	width: 50%;
	height: 100%;
	vertical-align: top;
	@include trans-register(.4s);

	.info-wrapper{
		position: relative;
		width: 100%;
		height: 66.66%;

		.inner-wrap{
			position: relative;
			display: inline-block;
			width: 50%;
			height: 100%;
			vertical-align: top;

			.title{
				font-family: 'Calibre';
				font-size: 38px;
				line-height: 1.1em;
				margin-bottom: 45px;
				color: #575c74;

				@media screen and (max-width: 1399px) {
					font-size: 26px;
					margin-bottom: 30px;
				}
			}

			.include-box{
				position: absolute;
				color: #868da4;

				&.hide{
					display: none;
				}

				.index{
					font-family: 'Calibre';
					font-size: 28px;
					margin-bottom: 10px;

					@media screen and (max-width: 1399px) {
						font-size: 20px;
					}
				}

				.description{
					font-family: 'Calibre-l';
					font-size: 32px;
					line-height: 1.3em;
					@include smoothFont;

					@media screen and (max-width: 1399px) {
						font-size: 22px;
						line-height: 1.1em;
					}
				}
			}

			.sponsor-title{
				font-family: 'Maison-b';
				font-size: 46px;
				line-height: 1.1em;
				@include smoothFont;
				color: #fff;
				margin-bottom: 25px;

				@media screen and (max-width: 1399px) {
					font-size: 30px;
				}
			}

			.sponsor-value{
				font-family: 'Calibre';
				font-size: 39px;
				line-height: 1em;
				color: #010330;

				@media screen and (max-width: 1399px) {
					font-size: 26px;
				}
			}

			.sponsor-duration{
				position: absolute;
				bottom: 0;
				margin-bottom: 50px;
				font-family: 'Calibre';
				font-size: 39px;
				line-height: 1em;
				@include smoothFont;
				color: #fff;

				@media screen and (max-width: 1399px) {
					font-size: 26px;
					margin-bottom: 30px;
				}
			}
		}
		
		.includes-wrap{
			padding: 60px 50px;
			background-color: #fff;

			@media screen and (max-width: 1399px) {
				padding: 35px 30px;
			}
		}
		.what-wrap{
			padding: 55px 50px 60px;
			background-color: #4cac4d;

			@media screen and (max-width: 1399px) {
				padding: 32px 30px 35px;
			}
		}
	}

	.tagline-wrapper{
		position: relative;
		width: 100%;
		height: 33.33%;
		padding: 60px;
		text-align: right;
		background-color: #2b7728;

		@media screen and (max-width: 1399px) {
			padding: 40px;
		}

		.tagline{
			font-size: 38px;
			font-weight: 400;
			line-height: 1em;
			color: #fff;

			@media screen and (max-width: 1399px) {
				font-size: 26px;
			}
		}

		.badge{
			position: absolute;
			width: 180px;
			height: 180px;
			top: 0;
			left: 0;
			@include translate(-50%,-50%);

			@media screen and (max-width: 1399px) {
				width: 135px;
				height: 135px;
			}
		}
	}
}

// Showing form state
.showForm #sponsor-section{
	height: 71%;
	// height: calc(100% - 225px);

	@media screen and (max-width: 1399px) {
		height: 77%;
	}
}