extends views/layout.jade

block content
	section#hero-section
		include includes/svg-brand-logo.jade
		include includes/svg-brand-c.jade
	section#register-section
	section#sponsor-section
		.info-wrapper
			.inner-wrap.includes-wrap
				h5.title
					span Includes
				.include-box
					.index 
						span.mask
							span 01.

					p.description
						span.mask
							span Three grow cycles of
						span.mask
							span Precision Ag Tech 
						span.mask
							span product clinically 
						span.mask
							span proven to increase 
						span.mask
							span yields over 40%.

				.include-box
					.index 
						span.mask
							span 02.

					p.description
						span.mask
							span Proprietary data
						span.mask
							span analytics engine to
						span.mask
							span further maximize
						span.mask
							span grow yields and
						span.mask
							span solution sets

				.include-box
					.index 
						span.mask
							span 03.

					p.description
						span.mask
							span Optimized cultivation
						span.mask
							span report delivered at
						span.mask
							span the end of the three
						span.mask
							span grow cycles

			.inner-wrap.what-wrap
				

		.tagline-wrapper
			h3.tagline
				| Growth 
				br
				| Intelligence
			include includes/svg-cta-badge.jade