extends views/layout.jade

block content
	//- .tester
	section#hero-section
		include includes/svg-brand-logo.jade
		include includes/svg-brand-c.jade
		
		.texts-wrapper
			h1.hero-title
				span.ac-mask
					span Cannabis
				span.ac-mask
					span Cultivation
				span.ac-mask
					span to the
				span.ac-mask
					span Next Level

			h2.hero-intro
				span.ac-mask
					span Use data and precise Ag Tech to
				span.ac-mask
					span maximize your production results.

			.cta-container
				button.ac-btn.cta-btn Apply now
				h6.disclaimer 
					span.ac-mask
						span Registration doesn’t guarantee
					span.ac-mask
						span admittance to the program.

	section#register-section
	section#sponsor-section
		.info-wrapper
			.inner-wrap.includes-wrap
				h5.title
					span Includes
				#include-1.include-box
					.index 
						span.ac-mask
							span 01.

					p.description
						span.ac-mask
							span Three grow cycles of
						span.ac-mask
							span Precision Ag Tech 
						span.ac-mask
							span product clinically 
						span.ac-mask
							span proven to increase 
						span.ac-mask
							span yields over 40%.

				#include-2.include-box.hide
					.index 
						span.ac-mask
							span 02.

					p.description
						span.ac-mask
							span Proprietary data
						span.ac-mask
							span analytics engine to
						span.ac-mask
							span further maximize
						span.ac-mask
							span grow yields and
						span.ac-mask
							span solution sets

				#include-3.include-box.hide
					.index 
						span.ac-mask
							span 03.

					p.description
						span.ac-mask
							span Optimized cultivation
						span.ac-mask
							span report delivered at
						span.ac-mask
							span the end of the three
						span.ac-mask
							span grow cycles

			.inner-wrap.what-wrap
				h2.sponsor-title
					span.ac-mask
						span Exclusive
					span.ac-mask
						span Grower
					span.ac-mask
						span Sponsorship

				h5.sponsor-value
					span.ac-mask
						span Valued over
					span.ac-mask
						span $50, 000

				p.sponsor-duration
					span.ac-mask
						span One Year Free!
				

		.tagline-wrapper
			h3.tagline
				span.ac-mask
					span Growth 
				span.ac-mask
					span Intelligence
			include includes/svg-cta-badge.jade
