extends views/layout.jade

block title
	| Terms of Service and Partnership

block content
	.document-container
		.logo-wrapper
			include includes/svg-brand-logo.jade

		.inner-wrapper
			h1 Terms of Service and Partnership
			h2 Effective Date: November 14, 2018

			p By applying for consideration to join the exclusive grow sponsorship, you are agreeing to these terms. Please read them carefully.

			p 
				|The below terms set forth our understanding in principle with regard to a partnership with Advanced Cannalytics, Inc. 
				strong (the “Company”) 
				| and the applicant 
				strong (“Partner”) 
				| to collaborate on an exclusive grower sponsorship.
			
			p 
				|The Company and PARTNER each may also be referred to as a “Party” and, together, as the 
				strong “Parties.”

			p 
				span.clause  1.1​
				| Summary Transaction.  Company and its affiliate companies will serve as a technology/data analytics platform to better improve the operations and functionality of Partner.  Partner will provide its data and aid in the refinement of the already developed analytics engine of Company.   Partner will have the early adopter pricing and rights to license the Company platform and suite of analytics and Services.
				
			p 
				span.clause  1.2​ 
				| Closing Conditions.  This Letter and the transactions contemplated hereby are sufficient to begin a formal data sharing relationship.  Any further license agreement between the Parties will be completed under different definitive documentation among the parties (collectively, the 
				strong “Definitive Documentation”
				|), which the parties shall use commercially reasonable best efforts to draft shortly after the acceptance of this Letter by the Company.
				
			p 
				span.clause  1.3​
				| Information Requests. Partner agrees to provide Company with the data and information necessary to complete an engineering/integration assessment and launch satisfactory to Company and its affiliates.
			
			p Customer Data. Partner shall at all times provide to Company, in such written, electronic or other form as Company may request for purposes of completing the data gathering.  “Customer Data” shall mean any information or data collected, received, processed or maintained by or on behalf of Partner from or relating to any Customer in connection with the Company Products or Services, including without limitation Personal Data.  Company shall have and maintain confidentiality with Partner data at all times.  Company shall have and maintain all rights to the data and information provided by Partner.
			
			ul
				li Company and its affiliate companies will serve as a technology & data analytics platform for Partner.
				li Partner shall provide without limitation to Company any and all requested data and information.
				li Company shall have the rights to use such provided data and information for any purpose provided that Partner confidentiality is maintained.
				li Partner shall have access to the early adopter pricing and license agreement to Company data analytics platform and custom dashboard.  
				li Required Data Elements will be provided to Partner within 10 days of the date of this letter.
				li Company shall aid Partner in gathering the Required Data Elements.
			
			p 
				span.clause  1.4
				| ​No Binding Effect or Liability.  The Parties understand and acknowledge that the failure to execute and deliver the Definitive Documentation for license agreement shall impose no obligation or liability on Partner or the Company.  Neither party nor any affiliates shall have any liability whatsoever in the event that the transactions contemplated or proposed hereby shall not be consummated.
			
			p 
				span.clause  1.5
				| ​Assignment.  Either Party may assign or transfer this Letter without the prior written consent of the other Party.
			
			p 
				span.clause  1.6
				| ​Expiration of Offer.  If Partner does not begin data transfer to Company within 60 days of the date of this Letter then the offer for early adopter license agreement terms will expire.
			
			p 
				span.clause  1.7
				| ​Governing Law.  Texas law will govern this letter and all of the Definitive Documents.
